# 자료형의 참과 거짓 
- 문자열인 경우 ""(따옴표)안에 data가 있으면 True, 없으면 False
- 리스트인 경우 []안에 data가 있으면 True, 없으면 False
- 튜플인 경우 ()안에 data가 있으면 True, 없으면 False
- 딕셔너리인 경우 {}안에 data가 있으면 True, 없으면 False
- 숫자인 경우 0이면 거짓이고, 0이 아닌 숫자는 참.
#### 데이터 분석쪽에서 많이 쓰는 것이다.

In [2]:
# 숫자의 참과 거짓 
var01 = 3 
var02 = 1
var01 is var02

False

In [3]:
var01 = 1 
var02 = 1
var01 is var02

True

In [5]:
# Tuple(튜플)을 이용한 변수 생성이란??
# Tuple이란 이럴때 많이쓰는거다!
var01, var02 = 1 , 2
print(var01)
print(var02)
# 각자 하나씩 들어간다
# 원래는 (var01, var02) = (1 , 2)이 모양이 정상인데 잘 괄호를 안쓴다

1
2

In [6]:
# 숫자와 문자도 같이 쓸수있다.
var01, var02 = 1, "Derrick"
print(var01)
print(var02)

1
Derrick

In [7]:
# 이렇게도 쓸수 있다. 
var01 = var02 = 'Lee'
print(var01, var02)

Lee Lee

In [10]:
# Tuple을 이용한 변수의 값 교환
var01 = 3 
var02 = 5 
print(var01, var02)
# 위의 것을 서로 바꿔서 쓰고 싶을때 
var01, var02 = var02, var01
print(var01, var02)

3 5
5 3

# 많이 헷갈릴수 있는 부분

In [11]:
# List의 복사   - 1
# 지금은 ㄴcul by reference이다.
var01 = [1,2,3]
var02 = var01
var01[1] = 4
var02[2] = 6
# 동시에 같이 바뀐다. 
# reference와 value 
print(var01)
print(var02)

[1, 4, 6]
[1, 4, 6]

In [12]:
# 기껏 복사해둿더니 이렇게 나오면 망한거다!?
# YES
var01 is var02

True

In [13]:
# Slicing을 이용한 리스트 복사 --> 그냥 위의 것들 처럼 복사하면 안된다!!!!
var01 = [1,2,3]
#[:]이게 복사다
var02 = var01[:]
var01[1] = 4
print(var01)
print(var02)

[1, 4, 3]
[1, 2, 3]

In [14]:
# 서로가 틀려야한다. 데이터만 복사해서 써야 하기 때문에 구분이 필요하므로 
var01 is var02

False

In [15]:
# Module을 이용한 리스트의 복사 ---2

from copy import copy

In [16]:
var01 = [1,2,3]
var02 = copy(var01)
var01[2] = 4
print(var01)
print(var02)

[1, 2, 4]
[1, 2, 3]

In [17]:
var01 is var02

False