# 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 위해 사용
- 표현방법 : 리스트명 = [요소1,요소2,...]

In [4]:
## 리스트 자료형 선언
var01 = [] # 값이 비어있는 리스트
var01 = [1,2,3] # 숫자
var01 = ['I','have','a','dream']# 문자
var01 = [1,2,'dream',True] # 다 섞어서 가능 true 는 논리형
var01 = [1,2,['Dream',True]] # 리스트안에 리스트 가능

print(var01)
var01[2][0] #리스트 안에 리스트 값 뽑아오기

[1, 2, ['Dream', True]]

'Dream'

# 리스트의 연산자

In [34]:
# 리스트의 숫자 합치기 (덧셈이 아니라 리스트병합)
var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [14]:
#리스트의 덧셈

for i in range(0,3):
    print(var01[i] + var02[i])
# 같은것
for i in range(0, len(var02)):
    print(var01[i] + var02[i])

5
7
9
5
7
9

In [15]:
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [17]:
# var01[2] + 'hi'이런거 하고싶을때 ???
# 문자열로 변경하기!!
str(var01[2]) + 'hi'

'3hi'

In [18]:
# 정수로 바꾸기 
int('123')

123

# 리스트의 수정과 삭제

In [21]:
# 문자열은 안되지만 --> list는 가능하다 
var01
var01[2] = 4
var01

[1, 2, 4]

In [27]:
# 리스트는 숫자 문자 상관없이 막들어 간다.
var01[1:2] = ['a', 'b', 'c']
var01

[1, 'a', 'b', 'c']

In [28]:
# 지울 필요가 있는 부분들은 이렇게 지워라 -1
var01[1:3] = []
var01

[1, 'c']

In [29]:
# 지울 필요가 있는 부분들은 이렇게 지워라 -2
del var01[1]
var01

[1]

# 리스트 관련 함수

In [36]:
# list에 요소 추가 
var01 = [1,2,3]
var01.append(4)
var03 = []
var01
for i in range(0,3):
    var03.append(var01[i] + var02[i])
    print(var01[i] + var02[i])
    
var03

5
7
9

[5, 7, 9]

In [38]:
# list는 아무것이나 막들어 간다. 계속
var01.append([5,6])
var01

[1, 2, 3, 4, [5, 6], [5, 6]]

In [48]:
# list의 정렬 : 숫자
var01 = [1,4,5,7,2]
print(var01)

# 오름차순
var01.sort()
print(var01)

# 내림차순
var01.reverse()
print(var01)

[1, 4, 5, 7, 2]
[1, 2, 4, 5, 7]
[7, 5, 4, 2, 1]

In [49]:
# list의 정렬 : English
var02 = ['a','b','e','a','t']
print(var02)

# 오름차순
var02.sort()
print(var02)

# 내림차순
var01.reverse()
print(var02)

['a', 'b', 'e', 'a', 't']
['a', 'a', 'b', 'e', 't']
['a', 'a', 'b', 'e', 't']

In [55]:
# list의 정렬 : Korean
var02 = ['대','한','민','국']
print(var02)

# 오름차순
var02.sort()
print(var02)

# 내림차순
var02.reverse()
print(var02)

['대', '한', '민', '국']
['국', '대', '민', '한']
['한', '민', '대', '국']

In [56]:
# 리스트의 위치정보 

var01 = [4,5,6]
# 요소가 5인것의 위치 찾기 
var01.index(5)
# [1]번째에 있다.

1

In [57]:
# 리스트에 요소 삽입
var01.insert(0,1)
var01
# append 는 맨 마지막에 붙는것
# insert는 어디에 넣을지를 정하고 넣는것.

[1, 4, 5, 6]

In [60]:
# 리스트에 요소 제거
# 요소가 4인것 제거 
# 위치로 하는것은 [] 대괄호가 있어야 한다. 
var01.remove(4)
var01

[1, 5, 6]

In [61]:
# 리스트 요소 끄집어 내기
var01 = [1,2,3]
# pop()는 리스트의 마지막 요소를 선택후 보여주고 해당 데이터는 삭제되는것이다.-> 끄집어내서 삭제 
print(var01.pop())
print(var01)

3
[1, 2]

In [65]:
# for문을 사용한 pop
var01 = [1,2,3]
for i in range(0,3):
    print(var01.pop())
    print("var01:",var01)
print(var01)

3
var01: [1, 2]
2
var01: [1]
1
var01: []
[]

In [67]:
# 리스트의 요소 개수 세기 
var01 = [1,2,3,4,4]
# 4가 몇개 있니??
print(var01.count(4))
# 전체 갯수가 몇개 이니?
print(len(var01))

2
5

In [71]:
# 리스트의 확장
var01 = [1,2,3,4]
# var01.append([5,6])
# var01
# append 는 한꺼번에 한요소로 취급되어서 들어가는것이고,
# extend 는 개별로 요소로서 들어가는것이다.
var01.extend([5,6])
var01

[1, 2, 3, 4, [5, 6], 5, 6]